

body {
    background-color: lightgray;
    font-family: Tahoma;
    font-size: 13pt;
}
main {
    text-align: center;
}
div.essay{
    text-align: justify;
    line-height: 2;
    text-indent: 60px;
}
div.main {
    text-align: justify;
}
main.essay {
    padding-left: 15.0vw;
    padding-right: 15.0vw;
}
h3.hi {
    font-weight: normal;
}
h1 {
    color: #980C7C;
    text-transform: uppercase;
    text-align: center;
}
.navBar {
    font-size: 18px;
    background-color: darkgray;
    padding: 5px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
.navBar:hover{
    background-color: lightgray;
}
div {
    text-align: center;
}
img {
    width: 600px;
    border: 3px solid black;
    text-align: center;
}
p {
    line-height: 2;
}
h3 {
    text-align: center;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-weight: normal;
}


